//@import "./foundation/variables";
//@import "./foundation/components/global";
//@import "./foundation/components/panels";
//@import "./foundation/components/grid";

$border: solid 1px #dddddd;
$h: 400px;

/*
	This section deals with the generic css regarding any web calendar table or colored cell or any other
	element that pertains directly to the webcal app.
 */


.webcal {
  width: 1200px;
  height: 430px;
  border: solid 3px #dddddd;
}

.webcal-container {
  text-align: center;
  :hover {
    color: #b66aff;
  };
  div-1 {
    float: left;
  };
  div-2 {
    display: inline-block;
  };
  div-3 {
    float: right;
  }
  div-4 {
    float: left
  }
}

.webcal-menu-bar {
  text-align: left;
  width: inherit;
  font-size: 12px;
  background-color: lightgrey;
}

.webcal-body-container {
  overflow-y: scroll;
  height: $h;
}

.dynamic-container {
  overflow-y: scroll;
  height: $h - 23px;
}

.webcal-table-generic{
  border: $border;
  border-spacing: 1;
  border-collapse:collapse;
  thead {
    border-bottom: solid 2px #dddddd;
  };
  th {
    border-right: $border;
    width: 150px;
  };
  td {
    border: $border;
    width: 150px;
    height: 50px;
    padding: 2px;
  };
}

.webcal-table {
  border: $border;
  border-spacing: 1;
  border-collapse:collapse;
  thead {
    border-bottom: solid 2px #dddddd;
  };
  th {
    border-right: $border;
    width: 150px;
  };
  th:hover {
    background-color: darkorange; //#eeeeee;
  };
  td {
    border: $border;
    width: 150px;
    height: 50px;
    padding: 2px;
  };
}

.webcal-table-day {
  border: $border;
  border-spacing: 1;
  border-collapse:collapse;
  td {
    border: $border;
    width: 100px;
    height: 50px;
    padding: 2px;
  };
  thead {
    border-bottom: solid 2px #dddddd;
  };
  th {
    border-right: $border;
    width: 100px;
  };
}

.webcal-colored {
  font-size: 12px;
  text-align: left;
  background-color: #b66aff;
}

// note that the button could be labeled as generic
.webcal-button {
  background-color: #2ba6cb;
  border: 2px solid #2ba6cb;
  color: #ffffff;
  border-radius: 25px;
}
.webcal-button:hover {
  background-color: #ffffff;
  color: #2ba6cb;
}

// the alert field could also be generic
.webcal-alertField {
  font-size: 10px;
  width: 1200px;
  text-align: right;
}

/*
	This section deals css to enhance the UI or add functionality as necessary but is not specific unto
	the webcal app.
 */
.data-container {
  height: 50px;
  overflow-y: scroll
}

.cur-day {
  background-color: #bdbdbd;
}

.highlight:hover {
  color: #ffffff;
}

a.balloon {
  outline: none;
  text-decoration: none;
  color: #000000;
  div {
    z-index: 10;
    display: none;
    padding: 5px 5px;
    margin-top: -30px;
    margin-left: 10px;
    min-width: 275px;
    line-height: 16px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    font-family: Calibri, Tahoma, Geneva, sans-serif;
    font-size: .8em;
    :hover{
      display: inline;
      position: absolute;
      color: #000000;
      border: 1px solid #530c79;
      background: #e6d6ff;
    };
  };
}

.circle{
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  border:1px solid #ccc;
  width:10px;
  height:10px;
  background-color: #ffffff;
}

.circle-selected{
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  border:1px solid #ccc;
  width:10px;
  height:10px;
  background-color: darkorange;
}

.selected {
  background-color: darkorange;
  padding: 5px;
}