<div class="webcal-menu-bar">
    <button type="button" class="webcal-button" ng-click="changeView('schedule/' + dayName)">Schedule View</button>    
</div>
<table id="tableHeader" class="webcal-table">
    <thead>
    <tr>
        <th style="width: 100px" ng-click="changeView('schedule/' + dayName)" id="tableHeaderFirst">{{dayName}}</th>
        <th style="width: 100px" id="8">8am</th>
        <th style="width: 100px" id="9">9am</th>
        <th style="width: 100px" id="10">10am</th>
        <th style="width: 100px" id="11">11am</th>
        <th style="width: 100px" id="12">12pm</th>
        <th style="width: 100px" id="1">1pm</th>
        <th style="width: 100px" id="2">2pm</th>
        <th style="width: 100px" id="3">3pm</th>
        <th style="width: 100px" id="4">4pm</th>
        <th style="width: 100px" id="5">5pm</th>
        <th style="width: 100px" id="6">6pm</th>
    </tr>
    </thead>
</table>
<div>
    <table class="webcal-table-day" day-details>
    <tbody id="dayInsertionPoint">
    </tbody>
    </table>
</div>