<table id="tableHeader" class="webcal-table" default>
    <thead>
    <tr>
        <th id="tableHeaderFirst">GMT</th>
        <th ng-click="changeView('day/Sun')" id="Sun">Sun {{date0}}</th>
        <th ng-click="changeView('day/Mon')" id="Mon">Mon {{date1}}</th>
        <th ng-click="changeView('day/Tues')" id="Tues">Tues {{date2}}</th>
        <th ng-click="changeView('day/Wed')" id="Wed">Wed {{date3}}</th>
        <th ng-click="changeView('day/Thurs')" id="Thurs">Thurs {{date4}}</th>
        <th ng-click="changeView('day/Fri')" id="Fri">Fri {{date5}}</th>
        <th ng-click="changeView('day/Sat')" id="Sat">Sat {{date6}}</th>
    </tr>
    </thead>
</table>
<div>
    <table class="webcal-table" mark-time>
    <tbody>
        <tr>
            <td>8am</td>
            <td id="Sun8"></td>
            <td id="Mon8"></td>
            <td id="Tues8"></td>
            <td id="Wed8"></td>
            <td id="Thurs8"></td>
            <td id="Fri8"></td>
            <td id="Sat8"></td>
        </tr>
        <tr>
            <td>9am</td>
            <td id="Sun9"></td>
            <td id="Mon9"></td>
            <td id="Tues9"></td>
            <td id="Wed9"></td>
            <td id="Thurs9"></td>
            <td id="Fri9"></td>
            <td id="Sat9"></td>
        </tr>
        <tr>
            <td>10am</td>
            <td id="Sun10"></td>
            <td id="Mon10"></td>
            <td id="Tues10"></td>
            <td id="Wed10"></td>
            <td id="Thurs10"></td>
            <td id="Fri10"></td>
            <td id="Sat10"></td>
        </tr>
        <tr>
            <td>11am</td>
            <td id="Sun11"></td>
            <td id="Mon11"></td>
            <td id="Tues11"></td>
            <td id="Wed11"></td>
            <td id="Thurs11"></td>
            <td id="Fri11"></td>
            <td id="Sat11"></td>
        </tr>
        <tr>
            <td>12pm</td>
            <td id="Sun12"></td>
            <td id="Mon12"></td>
            <td id="Tues12"></td>
            <td id="Wed12"></td>
            <td id="Thurs12"></td>
            <td id="Fri12"></td>
            <td id="Sat12"></td>
        </tr>
        <tr>
            <td>1pm</td>
            <td id="Sun13"></td>
            <td id="Mon13"></td>
            <td id="Tues13"></td>
            <td id="Wed13"></td>
            <td id="Thurs13"></td>
            <td id="Fri13"></td>
            <td id="Sat13"></td>
        </tr>
        <tr>
            <td>2pm</td>
            <td id="Sun14"></td>
            <td id="Mon14"></td>
            <td id="Tues14"></td>
            <td id="Wed14"></td>
            <td id="Thurs14"></td>
            <td id="Fri14"></td>
            <td id="Sat14"></td>
        </tr>
        <tr>
            <td>3pm</td>
            <td id="Sun15"></td>
            <td id="Mon15"></td>
            <td id="Tues15"></td>
            <td id="Wed15"></td>
            <td id="Thurs15"></td>
            <td id="Fri15"></td>
            <td id="Sat15"></td>
        </tr>
        <tr>
            <td>4pm</td>
            <td id="Sun16"></td>
            <td id="Mon16"></td>
            <td id="Tues16"></td>
            <td id="Wed16"></td>
            <td id="Thurs16"></td>
            <td id="Fri16"></td>
            <td id="Sat16"></td>
        </tr>
        <tr>
            <td>5pm</td>
            <td id="Sun17"></td>
            <td id="Mon17"></td>
            <td id="Tues17"></td>
            <td id="Wed17"></td>
            <td id="Thurs17"></td>
            <td id="Fri17"></td>
            <td id="Sat17"></td>
        </tr>
        <tr>
            <td>6pm</td>
            <td id="Sun18"></td>
            <td id="Mon18"></td>
            <td id="Tues18"></td>
            <td id="Wed18"></td>
            <td id="Thurs18"></td>
            <td id="Fri18"></td>
            <td id="Sat18"></td>
        </tr>
    </tbody>
    </table>
</div>