<!DOCTYPE html>
<html>
    <head>
        <title>Web Cal Main View</title>
        <link href="../assets/webcal.css" rel="stylesheet" type="text/css" />
        <link href="../assets/jquery-ui-1.10.3.custom.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
    <br>
        <!-- outter wrapper for the app in the html page -->
        <div ng-app="app" class="webcal">
            
            <div ng-controller="AppCntl" id="header">
                <div class="webcal-menu-bar">
                    <button class="webcal-button" ng-click="changeView()">Week Overview</button>
                    <!--<button class="webcal-button" ng-click="changeView('day')">Day Details</button>-->
                    <!--<button class="webcal-button" ng-click="changeView('schedule')">Schedule View</button>-->
                    <!-- <button class="webcal-button" ng-click="update();">Refresh</button> -->
                    <label>{{updateStatus}}</label>
                </div>
                <div ng-view id="body" class="webcal-body-container"></div>
            </div>
            
        </div>
        <!-- Placing the javascript down here allows for quicker load time -->
        <script type="text/javascript" src="../assets/jquery-1.10.2.js"></script>
        <script type="text/javascript" src="../assets/angular.js"></script>
        <script type="text/javascript" src="../assets/jquery-ui-1.10.3.custom.js"></script>
        <script type="text/javascript" src="../script/script.js"></script>

    </body>
</html>